// 旧版ではすべてのページで呼んでいたが .btn あたりが強力すぎるので bodyId で囲む
@use "mixin";

#support-service {
  .alliance {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 60px;
  }

  .intro {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 100px;
  }

  .head {
    @include sawarabi;
    border-bottom: none;
    padding-bottom: 0;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
  }

  .cover {
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 320px;
      object-fit: cover;
    }
  }

  .content .wrap {
    margin-top: 80px;
  }

  .ttl {
    font-size: 20px;
    letter-spacing: 0;
    margin-bottom: 30px;

    span {
      color: #999;
      font-size: 12px;
      margin-left: 15px;
      vertical-align: middle;
    }
  }

  .txt {
    font-size: 16px;
  }

  .list li {
    $horizontalGutter: percentage(30px / 1040px);
    padding: 20px $horizontalGutter;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    span {
      width: 8%;
      margin-right: $horizontalGutter;
      text-align: center;
    }

    p {
      width: 88%;
      border-left: 1px solid #ddd;
      padding-left: $horizontalGutter;
      box-sizing: border-box;
    }
  }

  .btn {
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

    a {
      width: 30%;
      margin: auto;
      @include contentButton;
    }
  }

  .box {
    border: 1px solid #ddd;
    padding: 20px 30px;
    margin: 30px auto;
  }

  .note {
    color: #999;
    margin-top: 10px;
  }

  @include for-sp {
    .intro {
      margin: 20px 0 50px;

      p {
        font-size: 3.2vw;
      }
    }

    .head {
      border-left: none;
      padding-left: 0;
      font-size: 8vw;
      line-height: 1.3;
      margin-bottom: 20px;
    }

    .cover {
      margin-bottom: 20px;

      img {
        height: 38vw;
      }
    }

    .content {
      p {
        font-size: 3vw;
        line-height: 1.8;
      }

      .txt {
        font-size: 3.5vw;
      }
      .wrap {
        margin-top: 40px;
      }
    }


    .ttl {
      font-size: 4.8vw;
      margin-bottom: 15px;

      span {
        display: block;
        font-size: 3.5vw;
        margin-left: 0;
      }
    }

    .list li {
      padding: 14px 5vw;
      border-radius: 1vw;
      font-size: 3.5vw;

      > * {
        display: block;
      }

      span {
        width: 100%;
        margin-right: 0;
        text-align: left;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding-bottom: 3px;
      }
    }

    .content .list li p {
      width: 100%;
      padding-left: 0;
      border-left: none;
      font-size: 3.5vw;
      line-height: 1.7;
    }

    .btn {
      padding: 20px 5vw;

      a {
        width: 100%;
        font-size: 3.5vw;
      }
    }

    .content .note {
      font-size: 3vw;
      line-height: 1.7;
    }

    .box {
      margin: 20px auto;
      padding: 15px 7vw;
    }
  }
}
