@import "_mixin";
.ripronLineup {
  .ripronLineupWrap {
    /*
     * == 左にテキスト（表組み）、右にビフォーアフター画像 ==
     * - /carementeh/service/ripron/ の事例集 (旧 /technology/before_after/ripron/)
     * - /technology/before_after/bag/ など
     * - /carementeh/service/ripron/ の「ラインナップ」は別デザイン
     */
    @include clearfix;
    margin-bottom: $verticalGap;
    font-size: $contentFontSize;
    letter-spacing: 0;
    line-height: 1;
    h5 {
      font-size: 100%;
      padding-bottom: 1em;
      border-bottom: 1px solid white;
      margin-bottom: 2em;
    }
    dl {
      display: grid;
      grid-template-columns: auto 8em; // ¥15,000(税抜)
      grid-template-rows: auto;
      margin-bottom: 3em;
      > * {
        grid-row: auto;
        margin-bottom: 1em;
      }
      dt {
        text-align: left;
      }
      dd {
        text-align: right;
      }
    }
    @include for-pc {
      .ripronLineupImg {
        width: 46%;
        float: right;
        text-align: right;
      }
      .ripronLineupTxt {
        width: 50%;
        margin-right: 50%;
      }
    }
  }
}

#technology {
  .content {
    font-size: $contentFontSize;
  }
  .linkText {
    text-decoration: underline;
  }

  .ma_testTable {
    /* == /technology/data/weightlessness/ma_test など == */
    font-size: 11px;
    margin-right: 2%;
    &.last {
      margin-right: 0;
    }

    tr.ma {
      /* color: #a93c3c; */
      font-weight: bold;
    }

    th, td {
      padding: 5px;
      line-height: 1.6;
      text-align: center;
      vertical-align: middle;
    }

    th {
      font-weight: normal;
      background: hsl(0, 0%, 50%);
    }
    td {
      width: 60%;
      &.item {
        width: 40%;
      }

      img {
        padding: 5px;
        width: 90%;
        height: auto;
      }
    }

    @include for-pc {
      width: 32%;
      float: left;
      margin-bottom: 20px;

      tr.images {
        height: 240px;
      }

      @for $i from 1 through 5 {
        tr.line#{$i} {
          height: $i*2em + 0.5em;
        }
      }
      td {
        &.item {
          width: 40%;
        }

        img {
          padding: 5px;
        }
      }
    }
  }

}


#technology .niederrhein {
  /* == /technology/data/weightlessness/niederrhein/ == */
  @include imgRight-for-sp($width: 30%);

  table.niederrheinImageTable {
    th, td {
      padding: 1%;
      width: 17.7%;
    }
  }
}

#technology .comparison,
#technology .press {
  /* == /technology/data/comparison/ == */
  /* == /technology/innovation/press/ == */
  @include imgRight-for-sp($width: 40%);
}


#technology .suit {
  /* == /technology/before_after/suit/ == */
  @include imgRight-for-sp($width: 30%);
}

#technology .monograph {
  /* == /technology/data/monograph/ == */
  h5 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
}
