@charset "UTF-8";

@media print, screen and (min-width:641px){
/*======================
PCレイアウト　トップページ　*/

/*メインビジュアル*/
.mainvisual__section{
	background: url(https://www.kyoto-happy.co.jp:8443/_assets/img/knowledge/bg_mv.jpg) center center no-repeat;
	background-size:cover;
}


/*コンテンツ*/
h4{
	text-align:center;
	padding-bottom:70px;
}
h5{
	font-weight: bold;
}
ul.section{
	width:1100px;
	overflow:hidden;
	margin-bottom:70px;
}
ul.section li{
	width:266px;
	float:left;
	overflow:hidden;
	margin-right:12px;
	margin-bottom:50px;
}
ul.section li:nth-child(4n){
	margin-right:0;
}

ul.section li:nth-child(4n+1){
	clear:both;
}
ul.section li p.midashi{
	font-size:16px;
	letter-spacing:0.05em;
	margin-top:30px;
}
ul.section li p.midashi a{
	color:#a9803c;
}
ul.section li p.line{
	width:100%;
	height:50px;
	background-image:url(https://www.kyoto-happy.co.jp:8443/_assets/img/knowledge/line.gif);
	background-repeat:no-repeat;
	background-position:left center;
}
ul.section li p.text{
	width:266px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
	font-size:12px;
	color:#333333;
	letter-spacing:0.1em;
	line-height:1.8em;
}
.LColumn{
	margin-bottom: 70px;
}
.LColumn .section-imgCenter img{
	margin-bottom: 30px;
}

.LColumn table{
	width: 100%;
	margin: 10px 0;
	border: 1px solid #eee;
	border-collapse: collapse;
}
.LColumn table th{
	background: #f8f8f8;
	text-align: center;
	font-weight: normal;
	border-bottom: 1px solid #eee;
	padding: 4px 20px;
}
.LColumn table td{
	padding: 20px;
	text-align: left;
	border: 1px solid #eee;
	line-height: 1.6;
}
.LColumn table td.tableTtl{
	border-right: 1px solid #eee;
	width: 26%;
	vertical-align: middle;
}

.LColumn table.chemicalFiber{
	border-right: none;
}
.LColumn table.chemicalFiber td,
.LColumn table.chemicalFiber th,
.LColumn table.discoloration td{
	padding: 10px;
}
.LColumn table.chemicalFiber th{
	width: 10%;
	text-align: left;
	padding-left: 15px;
	border-right: 1px solid #eee;
}
.LColumn table.chemicalFiber td,
.LColumn table.discoloration td{
	width: 5%;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #eee;
}

.LColumn table.discoloration{
	margin-top: 30px;
}
.LColumn table.discoloration th,
.LColumn table.lining th{
	background: #fff;
	width: 5%;
	vertical-align: middle;
	border: 1px solid #eee;
}

.LColumn p span{
	color: #a93c3c;
}

.LColumn table.lining th{
	width: 20%;
}

.LColumn dl{
	background: #f8f8f8;
	border: 1px solid #eee;
	border-top: none;
	width: 718px;
	text-align: left;
	line-height: 1.6;
	margin: 10px 0;
}
.LColumn dt,.LColumn dd{
	padding: 10px;
}
.LColumn dt{
	border-top: 1px solid #eee;
	clear: left;
	float: left;
	width: 100px;
}
.LColumn dd{
	background: #fff;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	margin-left: 110px;
}

.LColumn .lining td{
	text-align: center;
}

.LColumn .trench_coat th{
	width: 30%;
	text-align: left;
	padding: 10px 20px;
}

.LColumn .kimono th{
	text-align: left;
}
}

@media screen and (max-width:640px){
/*======================
SPレイアウト　トップページ*/


/*メインビジュアル*/
.mainvisual__section{
	background: url(https://www.kyoto-happy.co.jp:8443/_assets/img/knowledge/bg_mv.jpg) center center no-repeat;
	background-size:auto 90px;
}

/*コンテンツ*/
.content{
	margin: 0 5%;
}
.content .pagettl-sub{
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.8;
	margin-bottom: 20px;
}
.content h4{
	margin: 20px 0;
	text-align: center;
	font-size: 13px;
}
.content h5{
	margin-bottom: 10px;
	font-size: 12px;
}
ul.section{
	overflow:hidden;
}
ul.section li{
	width:48.5%;
	float:left;
	overflow:hidden;
	margin-right:3%;
	margin-bottom:30px;
}
ul.section li:nth-child(even){
	margin-right: 0;
}
ul.section.last li{
	margin-bottom: 0;
}
ul.section li img{
	width:100%;
	height:auto;
}
ul.section li p.midashi{
	font-size:13px;
	font-weight:bold;
	line-height:1.4;
	margin-top:15px;
	height: 40px;
}
ul.section li p.midashi a{
	color:#a9803c;
}
ul.section li p.line{
	display:none;
}
ul.section li p.text{
	width:100%;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
	font-size:12px;
	color:#333333;
	letter-spacing:0.1em;
	line-height:1.8em;
	margin-top:10px;
}

.LColumn .section-imgRight p,
.LColumn .section-imgLeft p,
.LColumn .section-imgCenter p{
	margin-bottom: 40px;
}
.LColumn p a{
	text-decoration: underline;
	color: #a9803c;
}
.LColumn p.last{
	margin-bottom: 0;
}
.LColumn .section-imgRight img,
.LColumn .section-imgLeft img,
.LColumn .section-imgCenter img{
	padding-bottom: 15px;
}
.LColumn .section-imgRight.imgSmall img,
.LColumn .section-imgLeft.imgSmall img,
.LColumn .section-imgCenter.imgSmall img{
	float: right;
	width: 40%;
	height: auto;
	margin: 5px 0 2px 10px;
	padding: 0;
}

.LColumn .section-imgCenter img{
	margin-top: 15px;
}
.LColumn table{
	width: 100%;
	margin: 10px 0;
}
.LColumn tbody{
	font-size: 13px;
	line-height: 1.6;
	border: 1px solid #eee;
	border-top: none;
}
.LColumn table th{
	background: #f8f8f8;
	text-align: center;
	font-weight: normal;
	padding: 4px 0;
	vertical-align: middle;
}
.LColumn table td{
	display: block;
	padding: 8px;
	padding-top: 0;
}
.LColumn table td.tableTtl{
	padding-top: 8px;
	padding-bottom: 4px;
	border-top: 1px solid #eee;
}

.LColumn table.chemicalFiber{
	margin: 10px 0 40px;
}
.LColumn table.chemicalFiber tbody{
	border: 1px solid #eee;
	border-bottom: none;
}
.LColumn table.chemicalFiber th{
	width: 40%;
	border: 1px solid #eee;
	padding: 8px;
}
.LColumn table.chemicalFiber td,
.LColumn table.discoloration td,
.LColumn table.lining td{
	text-align: right;
	padding: 3px 10px;
	border-bottom: 1px solid #eee;
}
.LColumn table.chemicalFiber td::before,
.LColumn table.discoloration td::before,
.LColumn table.lining td::before,
.LColumn table.wool td::before{
    content: attr(data-label);
    float: left;
}

.LColumn table.jyuban th{
	border-top: 1px solid #eee;
}

.LColumn table.discoloration tbody,
.LColumn table.lining tbody{
	border-top: 1px solid #eee;
	border-bottom: none;
}
.LColumn table.discoloration th,
.LColumn table.lining th{
	display: block;
	border-bottom: 1px solid #eee;
}
.LColumn .discolorationH{
	margin-top: -20px;
	margin-bottom: 40px;
}

.LColumn div .springTxt{
	margin-bottom: 15px;
}

.LColumn table.lining{
	margin-bottom: 40px;
}

.LColumn dl{
	font-size: 13px;
	margin: 10px 0 40px;
	border: 1px solid #eee;
	padding: 10px;
}
.LColumn dt{
	margin-bottom: 3px;
	font-weight: bold;
}
.LColumn dd{
	margin-bottom: 10px;
	line-height: 1.6;
}

.LColumn .cotton dl{
	margin-bottom: 10px;
}
.LColumn .cotton dl.last{
	margin-bottom: 50px;
}

.LColumn .leatherSection,
.LColumn .leatherSection3{
	margin-bottom: 40px;
}
.LColumn .leatherSection h3,
.LColumn .leatherSection2 h3{
	text-align: left;
	margin-bottom: 5px;
}
.LColumn .leatherSection p{
	margin-bottom: 20px;
}
.LColumn .leatherSection2 img{
	width: 20%;
	height: auto;
	float: right;
	margin: 5px 0 2px 10px;
	padding: 0;
}
.LColumn .attribute{
	margin-bottom: 40px;
}
.LColumn .attribute h5{
	margin-bottom: 5px;
}
.LColumn .attribute p{
	margin-bottom: 20px;
}

.LColumn table.wool{
	border-top: 1px solid #eee;
}
.LColumn table.wool tr{
	border-bottom: 1px solid #eee;
}
.LColumn table.wool td{
	display: block;
	text-align: right;
	padding: 0 10px;
	margin: 6px 0;
}
.LColumn table.wool td.tleft{
	background: #f8f8f8;
	margin-top: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #eee;
}

.LColumn .recycledImg{
	margin-bottom: 40px;
}
.LColumn .recycledImg img{
	margin-top: 0;
}

.LColumn .trenchSection{
	margin-bottom: 40px;
}
.LColumn .trenchSection img{
	padding-bottom: 10px;
}
.LColumn .trenchSection h5{
	line-height: 1.6;
	margin-bottom: 0;
}
.LColumn .trenchSection p{
	margin-bottom: 20px;
}
.LColumn .trench_coat tr,
.LColumn .kimono tr{
	display: block;
}
.LColumn .trench_coat th,
.LColumn .kimono th{
	width: 5%;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.LColumn .trench_coat td{
	padding: 8px;
}

.LColumn .kimono td{
	padding: 6px 8px 2px;
}
.LColumn .kimono td:last-child{
	padding: 0 8px 8px;
}

.LColumn .business_suit img{
	margin-top: 0;
}
}
