@charset "UTF-8";

@media print, screen and (min-width:641px){
/*======================
PCレイアウト　*/

.mainvisual__section{
	background: url(https://www.kyoto-happy.co.jp:8443/_assets/img/mailmag/bg_mv.jpg) center center no-repeat;
	background-size: cover;
}

.sale{
	margin-bottom: 70px;
	overflow: hidden;
}
.sale.line{
	border-bottom: #999 solid 1px;
	margin-bottom: 40px;
	padding-bottom: 20px;
}
.sale .saleL,.sale .saleR{
	width: 50%;
}
.sale .saleL,.sale .saleR .saleimg{
	width: 100%;
	height: auto;
	margin: 0 0 30px;
}
.sale .saleL,.sale .saleR .saleimg img{
	width: 100%;
	height: auto;
}
.sale .sale_header{
	width: 100%;
	margin-bottom: 40px;
	padding-bottom: 40px;
	line-height: 1.8em;
	text-align: center;
	border-bottom: #999 solid 1px;
}
.sale .sale_header h2{
	width: 100%;
}
.sale .sale_header p{
	width: 70%;
	margin: 0 15% 0;
}
.sale .memberbtnarea{
	width:100%;
	text-align: center;
	margin: 30px 0 10px;
}
.sale .memberbtnarea .line{
	width: 420px;
	padding: 20px;
	text-align: center;
	margin : 0 auto ;
	border: #999 solid 1px;
}
.sale .memberbtnarea p{
	margin : 0 auto ;
	padding: 0 0 8px;
}
.sale .memberbtnarea .btn{
	background-color: #9a7339;
	border: 1px solid #9a7339;
	width: 300px;
	height: 32px;
	text-align: center;
	margin : 0 auto ;
	padding-top: 8px;
	cursor: pointer;
}
.sale .saleL .memberbtnarea .btn{
	padding-top: 10px;
}
.sale .memberbtnarea .btn.login{
	background-color: #999;
	border: 1px solid #999;
	margin : 10px auto 0 ;
}
.sale .memberbtnarea .btn a{
	color: #fff;
}
.sale .memberbtnarea .btn:hover{
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
.sale .memberbtnarea .btn a:hover{
	color: #fff;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.sale .saleL{
	width: 500px;
	float: left;
}
.sale .saleL .ticket{
	background: linear-gradient(120deg, #702844, #581d34);
	padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: #fff;
}
.sale .saleL .ticket.gold{
	background: linear-gradient(120deg, #9a7339, #6f5021);
}
.sale .saleL .ticket.mailmaga{
	background: linear-gradient(120deg, #b8dadf, #daf7f3);
	color: #333;
}
.sale .saleL .ticket .title_sub{
	margin: 0 0 10px;
}
.sale .saleL .ticket .title{
	font-size: 26px;
	margin: 0 0 30px;
}
.sale .saleL .ticket .sale_warp{
	display: inline-block;
	width: 90%;
	margin: 0 0 10px;
	padding: 3% 5%;
	background-color: rgba(255,255,255,0.1);
    border-radius: 8px;
    -webkit-border-radius:8px;
    -moz-border-radius: 8px;
}
.sale .saleL .ticket.mailmaga .sale_warp{
	background-color: rgba(255,255,255,0.5);
}
.sale .saleL .ticket .sale_warp .sale_content{
	float: left;
	width: 70%;
	line-height: 1.6em;
}
.sale .saleL .ticket .sale_warp .sale_off{
	float: right;
	width: 30%;
	margin: 5px 0 0 0;
	text-align: right;
	font-size: 24px;
}
.sale .saleL .ticket .code{
	float: right;
}
.sale .saleL img{
	max-width: 90%;
	height: auto;
}
.sale .saleR{
	float: right;
	line-height: 1.8;
}
.sale .saleR h2{
	font-size: 22px;
	margin-bottom: 30px;
}
.sale .saleR li{
	list-style-position: inside;
	list-style-type: square;
	padding-left: 1em;
    text-indent: -1em;
	margin-bottom: 10px;
}
.sale .saleR p.caution{
	font-weight: bold;
	margin: 20px 0;
}
.sale .saleR .limit{
	text-align: center;
	margin-bottom: 50px;
	border: 2px solid #a93c3c;
	color: #a93c3c;
	font-weight: bold;
	padding: 14px 0;
}
.sale .btnarea{
	width:100%;
	text-align:center;
	margin: 10px 0 30px;
}
.sale .btnarea input{
	background-color: #9a7339;
	color: #fff;
	width: 320px;
	height: 40px;
	border: none;
	font-size: 14px;
	line-height: 0;
	cursor: pointer;
}
.sale .btnarea input:hover{
	border: 1px solid #9a7339;
	color: #9a7339;
	background-color: #fff;
}
}


@media screen and (max-width:640px){
/*======================
SPレイアウト*/

.mainvisual__section{
	background: url(https://www.kyoto-happy.co.jp:8443/_assets/img/mailmag/bg_mv.jpg) left center no-repeat;
	background-size: auto 90px;
}

.sale{
	overflow: hidden;
}
.sale.line{
	border-bottom: #999 solid 1px;
	padding-bottom: 30px;
}
.sale .saleL{
	padding:30px 0 0 0;
}
.sale .saleL,.sale .saleR{
	width: 100%;
}
.sale .sale_header{
	width: 100%;
	padding-bottom: 20px;
	line-height: 1.8em;
	text-align: center;
	border-bottom: #999 solid 1px;
}
.sale .sale_header h2{
	width: 100%;
	margin: 30px 0 20px;
}
.sale .sale_header p{
	width: 100%;
	margin: 0 0 10px;
}
.sale .memberbtnarea{
	width:100%;
	text-align: center;
	margin-bottom: 10px;
}
.sale .memberbtnarea .btn{
	background-color: #9a7339;
	border: 1px solid #9a7339;
	width: 300px;
	height: 32px;
	text-align: center;
	margin : 0 auto ;
	padding-top: 12px;
	cursor: pointer;
}
.sale .memberbtnarea .btn.login{
	background-color: #999;
	border: 1px solid #999;
	margin : 10px auto 0 ;
}
.sale .memberbtnarea .btn a{
	font-size: 14px;
	color: #fff;
}
.sale .saleL{
	text-align: left;
	margin-bottom: 20px;
}
.sale .saleL .ticket{
	background: linear-gradient(120deg, #702844, #581d34);
	padding: 6% 3% 8% ;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    color: #fff;
}
.sale .saleL .ticket.gold{
	background: linear-gradient(120deg, #9a7339, #6f5021);
}
.sale .saleL .ticket.mailmaga{
	background: linear-gradient(120deg, #b8dadf, #daf7f3);
	color: #333;
}
.sale .saleL .ticket .title_sub{
	margin: 0 0 0 4%;
}
.sale .saleL .ticket .title{
	font-size: 18px;
	margin: 0 0 20px;
}
.sale .saleL .ticket .sale_warp{
	display: inline-block;
	width: 94%;
	margin: 0 0 10px;
	padding: 3%;
	background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
}
.sale .saleL .ticket.mailmaga .sale_warp{
	background-color: rgba(255,255,255,0.5);
}
.sale .saleL .ticket .sale_warp .sale_content{
	float: left;
	width: 70%;
	line-height: 1.6em;
}
.sale .saleL .ticket .sale_warp .sale_off{
	float: right;
	width: 30%;
	text-align: right;
	font-size: 16px;
}
.sale .saleL .ticket .code{
	float: right;
}
.sale .saleL img{
	max-width: 100%;
	height: auto;
}
.sale .saleR{
	font-size: 13px;
	line-height: 1.8;
}
.sale .saleimg{
	width: 100%;
	height: auto;
	margin: 0 0 15px;
}
.sale .saleimg img{
	width: 100%!important;
	height: auto!important;
}
.sale .saleR .limit{
	text-align: center;
	margin-bottom: 40px;
	border: 2px solid #a93c3c;
	color: #a93c3c;
	font-weight: bold;
	padding: 12px 0;
}
.sale .saleR h2{
	font-size: 22px;
	margin: 20px 0;
	line-height: 1.4;
}
.sale .saleR li{
	list-style-position: inside;
	list-style-type: square;
	padding-left: 1em;
    text-indent: -1em;
	margin-bottom: 10px;
}
.sale .saleR p.caution{
	font-weight: bold;
	line-height: 1.8;
}
.sale .btnarea{
	width:100%;
	text-align:center;
	margin-top: 30px;
}
.sale .btnarea input{
	-webkit-appearance: none;
	border-radius: 0;
	background-color: #9a7339;
	color: #fff;
	width: 100%;
	height: 40px;
	border: none;
	font-size: 14px;
	line-height: 0;
}
}
