.skippr{width:100%;height:100%;position:relative;overflow:hidden}
.skippr > div{position:absolute;width:100%;height:100%;background-size:cover;background-position:50% 62.5%}
.skippr > img{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:100%;min-height:100%}
.skippr-nav-container{position:absolute;left:50%;-webkit-transform:translate(-50%, 0);transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);bottom:25px;overflow:auto;z-index:49}
.skippr-nav-element{cursor:pointer;float:left;background-color:#ddd;-webkit-transition:all .25s linear;transition:all .25s linear}
.skippr-nav-element-bubble{width:12px;height:12px;border-radius:50%;margin:0 4px}
.skippr-nav-element-block{width:60px;height:10px}
.skippr-nav-element:hover, .skippr-nav-element-active{background-color:#a9803c}
.skippr-arrow{z-index:100 !important;cursor:pointer;position:absolute;top:45%;display:block;will-change:opacity;transition:opacity 0.2s ease-out;-webkit-transi}
.skippr-previous{left:0;}
.skippr-next{right:0;}
.skippr-arrow:hover{opacity:.5;}
.skippr-bg{background:rgba(0,0,0,.8);width:54px;height:54px;}
.skippr-arrow .skippr-nav-item{position:absolute;z-index:49;top:50%;-webkit-transform:translate(0%, -50%);-moz-transform:translate(0%, -50%);-ms-transform:translate(0%, -50%);transform:translate(0%, -50%);width:12px;height:12px;transform-origin:center center;-webkit-transform-origin:top left;}
.skippr-previous .skippr-nav-item{left:21px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);border-top:2px solid white;border-left:2px solid white}
.skippr-next .skippr-nav-item{right:25px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);border-bottom:2px solid white;border-right:2px solid white}
@media screen and (max-width:640px){.skippr-nav-container{bottom:10px;}
.skippr-arrow{top:43%;}
.skippr-bg{width:28px;height:28px;}
.skippr-arrow .skippr-nav-item{width:5px;height:5px;}
.skippr-previous .skippr-nav-item{left:10px;border-top:1px solid white;border-left:1px solid white}
.skippr-next .skippr-nav-item{right:12px;border-bottom:1px solid white;border-right:1px solid white}
.skippr-nav-element-bubble{width:6px;height:6px;margin:0 3px;}
}