@charset "UTF-8";

.alliance {
	font-size: 14px;
	line-height: 1.8;
	margin-bottom: 60px;
}
.intro {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
	text-align: center;
	margin-bottom: 100px;
}

.head {
	border-bottom: none;
	padding-bottom: 0;
	font-size: 32px;
	text-align: center;
	margin-bottom: 40px;
}
.cover {
	margin-bottom: 30px;
}
.cover img {
	width: 100%;
	height: 320px;
	object-fit: cover;
}
.wrap {
	margin-top: 80px;
}
.ttl {
	color: #333;
	font-size: 20px;
	letter-spacing: 0;
	margin-bottom: 30px;
}
.ttl span {
	color: #999;
	font-size: 12px;
	margin-left: 15px;
	vertical-align: middle;
}
.txt {
	font-size: 16px;
}
.list li {
	padding: 20px 30px;
	margin-bottom: 10px;
	background: #f6f6f6;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
}
.list li > * {
	display: inline-block;
	vertical-align: middle;
}
.list li span {
	width: 8%;
	margin-right: 30px;
	text-align: center;
}
.list li p {
	width: 88%;
	border-left: 1px solid #ddd;
	padding-left: 30px;
	box-sizing: border-box;
}

.btn {
	background: #f6f6f6;
	margin-top: 20px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.btn a {
	display: block;
	width: 30%;
	padding: 10px 0;
	margin: auto;
	background: #a9803c;
	color: #fff;
	font-size: 16px;
	border-radius: 2px;
	box-sizing: border-box;
}
.box {
	border: 1px solid #ddd;
	padding: 20px 30px;
	margin: 30px auto;
}
.note {
	color: #999;
	margin-top: 10px;
}




@media screen and (max-width:767px){
/*======================
SPレイアウト*/

	.intro {
		margin: 20px 0 50px;
	}
	.intro p {
		font-size: 3.2vw;
	}

	.head {
		border-left: none;
		padding-left: 0;
		font-size: 8vw;
		line-height: 1.3;
		margin-bottom: 20px;
	}
	.cover {
		margin-bottom: 20px;
	}
	.cover img {
		height: 38vw;
	}
	.content p {
		font-size: 3vw;
		line-height: 1.8;
	}
	.content .txt {
		font-size: 3.5vw;
	}
	.wrap {
		margin-top: 40px;
	}
	.ttl {
		font-size: 4.8vw;
		margin-bottom: 15px;
	}
	.ttl span {
		display: block;
		font-size: 3.5vw;
		margin-left: 0;
	}

	.list li {
		padding: 14px 5vw;
		border-radius: 1vw;
		font-size: 3.5vw;
	}
	.list li > * {
		display: block;
	}
	.list li span {
		width: 100%;
		margin-right: 0;
		text-align: left;
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
		padding-bottom: 3px;
	}
	.content .list li p {
		width: 100%;
		padding-left: 0;
		border-left: none;
		font-size: 3.5vw;
		line-height: 1.7;
	}

	.btn {
		padding: 20px 5vw;
	}
	.btn a {
		width: 100%;
		font-size: 3.5vw;
	}
	.content .note {
		font-size: 3vw;
		line-height: 1.7;
	}

	.box {
		margin: 20px auto;
		padding: 15px 7vw;
	}
}
