@charset "utf-8";
/*==================================
  mypage
==================================*/
#mypage {
	background: url(../mypage/img/mypage_bg.jpg) no-repeat top center/cover fixed;
}
#mypage #banner {
  background: #fffabd;
	color: #050505;
  padding: 11px 0;
	font-size: 3vw;
  text-align: justify;
  text-justify: inter-ideograph;
  line-height: 1.5;
}
#mypage #member_point {
	color: #050505;
	margin-top: 30px;
}
#mypage #member_point .container {
	background: #FFF;
	overflow: hidden;
	padding: 40px 0;
}
#mypage #member_point .container .member_point_box {
  margin: 0 0 0 -25%;
	position: relative;
	width: 150%;
}
#mypage #member_point .container .member_point_box .member_point_box_inner {
	height: 60%;
	position: absolute;
  top: 0;
  right: 0;
	bottom: 0;
  left: 0;
  margin: auto;
}
#mypage #member_point .container .member_point_box .member_point_box_inner h2 {
	font-size: 4vw;
}
#mypage #member_point .container .member_point_box .member_point_box_inner p.member_point_data {
	font-size: 4vw;
	line-height: 1.4;
}
#mypage #member_point .container .member_point_box .member_point_box_inner p.member_point_data span {
  display: block;
	font-size: 10vw;
	font-weight: normal;
	letter-spacing: 1px;
}
#mypage #member_point .container .member_point_box .member_point_box_inner p.member_point_rank {
	color: #6b6600;
	font-size: 5vw;
	margin-top: 10px;
}
#mypage #member_point .container p.member_point_ticket {
	font-size: 4vw;
	margin-top: 20px;
}
#mypage #member_point .container p.member_point_ticket span {
	color: #6a3b93;
	-webkit-text-stroke: 0.05em #6a3b93;
	display: inline-block;
	font-size: 7vw;
	line-height: 1;
  margin: 0 5px;
}
#mypage #member_information {
	margin-top: 30px;
}	
#mypage #member_information .member_information_box .member_information_name {
  display: flex;
	align-items: flex-end;
}	
#mypage #member_information .member_information_box .member_information_name img {
  width: 20vw;
}	
#mypage #member_information .member_information_box .member_information_name .member_information_name_txt {
	margin-left: 10px;
}	
#mypage #member_information .member_information_box .member_information_name h2 {
  font-size :4vw;
	line-height: 1;
}	
#mypage #member_information .member_information_box .member_information_name h2 span {
  font-size :3vw;
}	
#mypage #member_information .member_information_box .member_information_name p {
	font-size: 3vw;
	margin-top: 5px;
}	
#mypage #member_information .btnArea {
	display: flex;
	margin-top: 5%;
}
#mypage #member_information .btnArea > div {
	flex: 1;
}	
#mypage #member_information .btnArea a:hover {
  color: rgba(5,5,5,0.7);
}
#mypage #member_information .btn a {
  background: #FFF;
  border-radius: 10vw;
  color: #050505;
	display: flex;
	align-items: center;
  justify-content: center;
  font-size: 3.5vw;
	line-height: 1.2;
  padding: 3vw 0;
}	
#mypage #member_information .btn a img {
  width: 10vw;
}	
#mypage #member_information .btn a span {
  margin-left: 5px;
}	
#mypage #member_information .btn a span .small {
  font-size: 3vw;
	margin-left: -0.5em;
}
#mypage #member_information .order {
  background: #FFF;
	border-radius: 10vw;
	flex: 1;
	margin-left: 15px;
  padding: 0.5vw;
}	
#mypage #member_information .order a {
  background: #FFF;
	border: 1px solid #6a3b93;
  border-radius: 8vw;
  color: #050505;
	display: flex;
	align-items: center;
  justify-content: center;
  font-size: 3.5vw;
	line-height: 1;
  padding: 4vw 0;
}	
#mypage #member_information .order a img {
  width: 11vw;
}	
#mypage #member_information .order a span {
  margin-left: 10px;
}	
#mypage #member_menu {
  color: #050505;
	margin-top: 60px;
}
#mypage #member_menu ul {
  display: flex;
	flex-wrap: wrap;
}
#mypage #member_menu ul li {
	background: #FFF;
  border-radius: 5px;
	margin: 0 2% 2% 0;
	padding: 7vw 2% 2vw;
  text-align: center;
	width: 45%;
}
#mypage #member_menu ul li:nth-child(even) {
  margin-right: 0;
}
#mypage #member_menu ul li .member_menu_img {
  display: inline-block;
	line-height: 0;
  position: relative;
}
#mypage #member_menu ul li .member_menu_img .badge {
  position: absolute;
  top: -4vw;
  right: -4vw;
  font-size: 3vw;
  line-height: 8vw;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  background-color: #6a3b93; 
  color: #FFF;
  text-align: center;
}
#mypage #member_menu ul li img {
	width: 20vw;
}
#mypage #member_menu ul li h3 {
	font-size: 4vw;
	height: 10vw;
	line-height: 1.2;
}
#mypage #member_menu ul li:first-child h3 {
	line-height: 10vw;
}
#mypage #member_menu_sub {
  color: #050505;
	margin-top: 20px;
}
#mypage #member_menu_sub ul {
  background: #FFF;
  border-radius: 5px;
	padding: 10vw 5vw;
}
#mypage #member_menu_sub ul li {
  border-top: 1px solid #050505;
	font-size: 3vw;
  padding: 9px 0;
	position: relative;
}
#mypage #member_menu_sub ul li:last-child {
  border-bottom: 1px solid #050505;
}
#mypage #member_menu_sub ul li a {
  color: #050505;
	display: inline-block;
	width: 100%;
}
#mypage #member_menu_sub ul li a:after {
  position: absolute;
  top: 0;
  right: 10px;
	bottom: 0;
  width: 2vw;
  height: 2vw;
  margin: auto;
  border-top: 2px solid #050505;
  border-right: 2px solid #050505;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: '';
}
#mypage #member_menu_sub ul li a:hover {
  opacity: 0.7;
}
#mypage #member_sns {
	margin-top: 22vw;
}
#mypage #member_sns .member_sns_tit h2 {
  font-size: 5vw;
	line-height: 1.5;
}
#mypage #member_sns .member_sns_tit h2 img {
  width: 50vw;
}
#mypage #member_sns .member_sns_tit p {
  font-size: 4vw;
	line-height: 1.5;
	margin-top: 5px;
}
#mypage #member_sns ul.member_sns_list {
  margin: 30px auto 0;
}
#mypage #member_sns ul.member_sns_list li {
	margin: 0 7px;
  outline:none;
}
#mypage #member_sns ul.member_sns_list li .member_sns_list_img img {
	background: #FFF;
  border: 1vw solid #FFF;
  border-radius: 50%;
	margin: auto;
	max-width: 90%;
}
#mypage #member_sns ul.member_sns_list .member_sns_list_txt h3 {
  font-size: 4vw;
	margin-top: 10px;
}
#mypage #member_sns ul.member_sns_list .member_sns_list_txt p {
	background: #afafaf;
  border-radius: 4vw;
	color: #FFF;
	display: inline-block;
  font-size: 3vw;
	margin-top: 10px;
  padding: 1px 4vw;
}
#mypage #member_sns ul.member_sns_list .member_sns_list_txt .btn {
	margin-top: 5%;
}
#mypage #member_sns ul.member_sns_list .member_sns_list_txt .btn a {
	color: #FFF;
  background: #6a3b93;
  border-radius: 8vw;
  display: inline-block;
  font-size: 3vw;
  padding: 1.5vw 3vw 1.5vw 10vw;
	position: relative;
}
#mypage #member_sns ul.member_sns_list .member_sns_list_txt .btn a:hover {
	color: rgba(255,255,255,0.7);
}
#mypage #member_sns ul.member_sns_list .member_sns_list_txt .btn a:before {
	content: '';
	background: url(../img/check_w.png) no-repeat 0% center/contain scroll;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3vw;
	margin: auto;
	width: 6vw;
	height: 6vw;
}
#mypage #member_sns ul.member_sns_list .member_sns_list_txt .btn a:hover:before {
	opacity: 0.7;
}
#mypage #member_sns .member_sns_list_sp ul {
  display: flex;
  flex-wrap: wrap;
}
#mypage #member_sns .member_sns_list_sp ul li {
  margin: 10vw 4% 5vw 0;
  width: 48%;
}
#mypage #member_sns .member_sns_list_sp ul li:nth-child(even) {
  margin-right: 0;
}
#mypage #member_sns .member_sns_list_sp li .member_sns_list_img img {
	background: #FFF;
	border: 4px solid #FFF;
  border-radius: 50%;
	max-width: 90%;
}
#mypage #member_sns .member_sns_list_sp .member_sns_list_txt h3 {
	color: #6a3b93;
  font-size: 4vw;
}
#mypage #member_sns .member_sns_list_sp .member_sns_list_txt p {
	background: #afafaf;
	border-radius: 4vw;
	color: #FFF;
	display: inline-block;
  font-size: 3vw;
	padding: 1px 4vw;
}
#mypage #member_sns .member_sns_list_sp .member_sns_list_txt .btn {
	margin-top: 10px;
}
#mypage #member_sns .member_sns_list_sp .member_sns_list_txt .btn a {
	color: #FFF;
  background: #6a3b93;
  border-radius: 8vw;
  display: inline-block;
  font-size: 3vw;
  padding: 1.5vw 3vw 1.5vw 10vw;
	position: relative;
}
#mypage #member_sns .member_sns_list_sp .member_sns_list_txt .btn a:before {
	content: '';
	background: url(../img/check_w.png) no-repeat 0% center/contain scroll;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3vw;
	margin: auto;
	width: 6vw;
	height: 6vw;
}
#mypage #member_sns .member_sns_list_sp .btn_toggle {
  background: #848484;
  border-radius: 8vw;
  color: #FFF;
  display: block;
  font-size: 3.5vw;
	margin-top: 20px;
  padding: 3vw 0;
	position: relative;
  text-align: center;
	width: 90vw;
}
#mypage #member_sns .member_sns_list_sp .btn_toggle:before {
  display: block;
  position: absolute;
	top: 3.5vw;
  left: 28vw;
  width: 3vw;
  height: 3vw;
  margin: auto;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  content: '';
}
#mypage #member_sns .member_sns_list_sp .btn_toggle.active:before {
	top: 5.5vw;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
	transition: all .5s ease;
}
#mypage #member_sns .member_sns_list_sp .member_sns_list_sp_hide {
  display: none;
}
#mypage #member_sns_sub {
	margin-top: 22vw;
	padding-bottom: 20vw;
}
#mypage #member_sns_sub h2 {
  font-size: 6vw;
}
#mypage #member_sns_sub ul {
  background: #FFF;
  border-radius: 5px;
	margin-top: 20px;
	padding: 10vw 5vw;
}
#mypage #member_sns_sub ul li {
  border-top: 1px solid #050505;
	font-size: 3vw;
  padding: 9px 0 9px 12vw;
	position: relative;
}
#mypage #member_sns_sub ul li:last-child {
  border-bottom: 1px solid #050505;
}
#mypage #member_sns_sub ul li a {
  color: #050505;
	display: inline-block;
	width: 100%;
}
#mypage #member_sns_sub ul li a:after {
  position: absolute;
  top: 0;
  right: 10px;
	bottom: 0;
  width: 2vw;
  height: 2vw;
  margin: auto;
  border-top: 2px solid #050505;
  border-right: 2px solid #050505;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: '';
}
#mypage #member_sns_sub ul li a:hover {
  opacity: 0.7;
}
#mypage #member_sns_sub ul li a img {
  position: absolute;
	top: 0;
  bottom: 0;
  left: 8px;
  margin: auto;
	width: 7vw;
}
#mypage #case {
  border-top: none;
}
#mypage #reading {
  border-top: none;
	padding: 0;
}
@media (min-width: 992px) {
  #mypage .header_nav_common {
    display: block;
  }
  #mypage .bg {
    padding-top: 105px;
  }
  #mypage #banner {
    font-size: 16px;
    padding: 39px 0;
  }
  #mypage #member_point .container .member_point_box {
		margin: auto;
    width: 510px;
    height: 255px;
  }
  #mypage #member_point .container .member_point_box .member_point_box_inner {
    height: 70%;
  }
  #mypage #member_point .container .member_point_box .member_point_box_inner h2 {
    font-size: 18px;
  }
  #mypage #member_point .container .member_point_box .member_point_box_inner p.member_point_data {
    font-size: 18px;
    line-height: 1.2;
  }
  #mypage #member_point .container .member_point_box .member_point_box_inner p.member_point_data span {
    font-size: 56px;
  }
  #mypage #member_point .container .member_point_box .member_point_box_inner p.member_point_rank {
    font-size: 22px;
    margin-top: 10px;
  }
  #mypage #member_point .container p.member_point_ticket {
    font-size: 18px;
  }
  #mypage #member_point .container p.member_point_ticket span {
    font-size: 30px;
  }
  #mypage #member_information .container {
    display: flex;
		align-items: flex-end;
		justify-content: space-between;
  }	
  #mypage #member_information .member_information_box .member_information_name img {
    width: auto;
  }	
  #mypage #member_information .member_information_box .member_information_name .member_information_name_txt {
    height: 60px;
    margin-left: 15px;
  }	
  #mypage #member_information .member_information_box .member_information_name h2 {
    font-size :24px;
  }	
  #mypage #member_information .member_information_box .member_information_name h2 span {
    font-size :18px;
  }	
  #mypage #member_information .member_information_box .member_information_name p {
    font-size: 16px;
  }	
	#mypage #member_information .btnArea > div {
    flex: auto;
  }	
  #mypage #member_information .btn a {
    border-radius: 34px;
    font-size: 16px;
		line-height: 1;
    padding: 10px 45px;
  }	
  #mypage #member_information .btn a span .small {
    font-size: 10px;
  }
  #mypage #member_information .btn a img {
    width: 45px;
  }	
  #mypage #member_information .order {
		border-radius: 34px;
    padding: 3px;
  }	
  #mypage #member_information .order a {
    border: 1px solid #6a3b93;
    border-radius: 34px;
    font-size: 16px;
    padding: 10px 32px;
  }	
  #mypage #member_information .order a img {
    width: 58px;
  }	
  #mypage #member_menu ul li {
    flex: 1;
		margin: 0 2% 0 0;
    padding: 40px 0 28px;
	}
  #mypage #member_menu ul li:nth-child(even) {
    margin-right: 2%;
  }
  #mypage #member_menu ul li:last-child {
    margin-right: 0;
  }
  #mypage #member_menu ul li .member_menu_img .badge {
    top: -13px;
    right: -13px;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
  }
  #mypage #member_menu ul li img {
    width: auto;
  }
  #mypage #member_menu ul li h3 {
    font-size: 18px;
		height: 42px;
  }	
  #mypage #member_menu ul li:first-child h3 {
    line-height: 42px;
  }
  #mypage #member_menu_sub {
    margin-top: 40px;
  }
  #mypage #member_menu_sub ul {
    padding: 50px 30px;
  }
  #mypage #member_menu_sub ul li {
    font-size: 20px;
  }
  #mypage #member_menu_sub ul li a:after {
    width: 12px;
    height: 12px;
  }	
  #mypage #member_sns {
    margin-top: 100px;
  }
  #mypage #member_sns .member_sns_tit h2 {
    font-size: 22px;
		line-height: 2;
  }
  #mypage #member_sns .member_sns_tit h2 img {
    width: 246px;
  }
  #mypage #member_sns .member_sns_tit p {
    font-size: 18px;
  }
  #mypage #member_sns ul.member_sns_list {
		display: block;
	}
  #mypage #member_sns ul.member_sns_list li .member_sns_list_img img {
    border: 7px solid #FFF;
  }
  #mypage #member_sns ul.member_sns_list .member_sns_list_txt h3 {
    font-size: 20px;
  }
  #mypage #member_sns ul.member_sns_list .member_sns_list_txt p {
    border-radius: 14px;
    font-size: 13px;
    padding: 1px 19px;
  }
  #mypage #member_sns ul.member_sns_list .member_sns_list_txt .btn {
    margin-top: 20px;
  }
  #mypage #member_sns ul.member_sns_list .member_sns_list_txt .btn a {
    border-radius: 21px;
    font-size: 12px;
    padding: 9px 0 9px 25px;
    width: 117px;
  }
  #mypage #member_sns ul.member_sns_list .member_sns_list_txt .btn a:before {
    left: 15px;
    width: 23px;
    height: 23px;
  }
  .slide-arrow {
    position: absolute;
    top: 50%;
    margin-top: -34px;
  }
  .prev-arrow {
    transition: all .2s ease;
    cursor: pointer;
    left: -70px;
    padding-right: 0px;
    padding-left: 10px;
    width: 20px;
    height: 34px;
  }
  .prev-arrow:hover {
    transition: all .2s ease;
    opacity: 0.7;
  }
  .next-arrow {
    transition: all .2s ease;
    cursor: pointer;
    right: -70px;
    padding-right: 10px;
    padding-left: 0px;
    width: 20px;
    height: 34px;
  }
  .next-arrow:hover {
    transition: all .2s ease;
    opacity: 0.7;
  }
  #mypage #member_sns_sub {
    margin-top: 100px;
		padding-bottom: 80px;
  }
  #mypage #member_sns_sub h2 {
    font-size: 24px;
  }
  #mypage #member_sns_sub ul {
    padding: 50px 30px;
  }
  #mypage #member_sns_sub ul li {
    font-size: 20px;
    padding: 9px 0 9px 55px;
  }
  #mypage #member_sns_sub ul li a:after {
    width: 12px;
    height: 12px;
  }	
  #mypage #member_sns_sub ul li a img {
    left: 10px;
		width: 32px;
  }
}