<?php
$publicGadget = new PublicGadget();
?>
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>コメント確認画面　|　さがす＜ケアメンテ事例集＞　|　<?php echo CONF::read('PUBLIC_SITE.DEFAULT_TITLE'); ?></title>
		<meta name="format-detection" content="telephone=no">
		<?php if(preg_match("/(Android|iPhone|CareMenteh)/", $_SERVER["HTTP_USER_AGENT"])): ?><meta name="viewport" content="width=320, user-scalable=no" /><?php else: ?><meta name="viewport" content="width=1280" />
		<?php endif; ?>

		<link rel="stylesheet" href="/_assets/css/default.css?<?php echo date('YmdHis');?>">
		<link rel="stylesheet" href="/_assets/css/common.css?<?php echo date('YmdHis');?>">
		<link rel="stylesheet" href="/_assets/css/mypage.css?<?php echo date('YmdHis');?>">
		<link rel="stylesheet" href="/_assets/css/search.css?<?php echo date('YmdHis');?>">
        <link rel="stylesheet" href="/_assets/css/tooltipster.bundle.min.css">

		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

		<script src="/_assets/js/jquery.js"></script>
		<script src="/_assets/js/common.js"></script>
		<script src="/_assets/js/ga.js"></script>
        <script src="/_assets/js/tooltipster.bundle.min.js"></script>
        
        <?php
		$webroot = $_SERVER['DOCUMENT_ROOT'];
		include($webroot."/include/headtag_cord.php");
		?>

	</head>

	<body id="pTop">
		<?php ((CONF::read('DEBUG_BAR.IS_ACTIVE')) ? (print DebugBarMaster::html_source_render($this->get_all())) : ('')); ?>
		<?php $publicGadget->get_sns_code() /* .get_sns_code */ ?>

		<div id="Container">
			<header>
				<?php
				/* ヘッダーインクルード */
				include(DIR_PUBLIC . "/include/header.php");
				?>
			</header>

			<div id="Contents" class="careSearch">
				<div class="mainvisual__section">
					<div>CAREMENTEH SEARCH<br><p>さがす＜ケアメンテ事例集＞</p></div>
				</div>

				<div id="pankuzu-wrapp">
					<div class="pan-border"><p class="pankuzu"><a href="/">トップ</a></p><p class="pankuzu"><a href="/carementeh_search/">さがす＜ケアメンテ事例集＞</a></p><p class="pankuzu no-arrow"><?php echo $this->get("item_detail.item_id"); ?></p></div>
				</div>

				<div class="mypageArea">

					<div class="mainContents3">
						<div class="pagettl"><h1>アイテム詳細情報</h1></div>

							<p class="linkTxt"><a href="#">採寸表の見方はこちら</a></p>

							<div class="karteCaution">
								<h4>コメントを投稿</h4>
								<p>以下の内容で投稿します</p>
							</div>
							<div class="mainContents searchKarte">
								<div class="postingForm">                
									<?php echo $this->get('comment_veiw'); ?>
									<div class="postingBottom">
										<form id="form_1" method="post" name="form01" action="/carementeh_search/response_complete.html?item_id=<?php echo $this->get("item_id") ?>">
										
										
										<div class="postingBtnArea"><button type="submit" value="" onclick="document.form01.submit()"><span>投稿する</span></button></div>
										</form>
									</div>
								</div><!--/postingForm-->
							</div><!--/mainContents-->
						</div><!--/karteyArea-->
					</div><!--/mainContents3-->
				</div>
			</div><!--/Contents-->
			<?php
			/* フッターインクルード */
			include(DIR_PUBLIC . "/include/footer.php");
			?>
		</div>
		<!--/Container-->
		
       <?php
		$webroot = $_SERVER['DOCUMENT_ROOT'];
		include($webroot."/include/body_retargeting_cord.php");
		?>
		
		
	</body>
</html>
