<?php
$publicGadget = new PublicGadget();
?>
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>フレンド一覧　|　　|　<?php echo CONF::read('PUBLIC_SITE.DEFAULT_TITLE'); ?></title>
		<meta name="format-detection" content="telephone=no">
		<?php if(preg_match("/(Android|iPhone|CareMenteh)/", $_SERVER["HTTP_USER_AGENT"])): ?><meta name="viewport" content="width=320, user-scalable=no" /><?php else: ?><meta name="viewport" content="width=1280" />
		<?php endif; ?>

		<link rel="stylesheet" href="/_assets/css/default.css?<?php echo date('YmdHis');?>">
		<link rel="stylesheet" href="/_assets/css/common.css?<?php echo date('YmdHis');?>">
		<link rel="stylesheet" href="/_assets/css/mypage.css?<?php echo date('YmdHis');?>">
        <link rel="stylesheet" href="/_assets/css/tooltipster.bundle.min.css">

		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

		<script src="/_assets/js/jquery.js"></script>
		<script src="/_assets/js/common.js"></script>
		<script src="/_assets/js/ga.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/_assets/js/tooltipster.bundle.min.js"></script>

        <?php
		$webroot = $_SERVER['DOCUMENT_ROOT'];
		include($webroot."/include/headtag_cord.php");
		?>

	</head>

	<body id="pTop">
		<?php ((CONF::read('DEBUG_BAR.IS_ACTIVE')) ? (print DebugBarMaster::html_source_render($this->get_all())) : ('')); ?>
		<?php $publicGadget->get_sns_code() /* .get_sns_code */ ?>
		<div id="Container">
			<header>
				<?php
				/* ヘッダーインクルード */
				include(DIR_PUBLIC . "/include/header.php");
				?>
			</header>
			<div id="Contents">

				<div class="mainvisual__section">
					<div>Happy SNS<br><p>つなぐ</p></div>
				</div>
				<div class="logoutArea">
					<div class="logoutBtn"><a href="/mypage/logout/">ログアウト</a></div>
				</div>

				<div id="pankuzu-wrapp">
					<div class="pan-border"><p class="pankuzu"><a href="/">トップ</a></p><p class="pankuzu"><a href="/mypage/sns.html">マイページ</a></p><p class="pankuzu no-arrow">フレンド一覧</p></div>
				</div>

				<div class="mypageNavi PCpart">
					<ul>
						<li><a href="/mypage/sns.html">トップ</a></li>
						<li><a href="/mypage/friend/">フレンド</a></li>
						<li><a href="/community/">コミュニティ</a></li>
						<li><a href="/mypage/message/">メッセージ</a><?php if ($this->get("count_unread") > 0) { ?><div class="unreadMsgNumber"><span><?php echo $this->get("count_unread"); ?></span></div><?php } ?></li>
						<li><a href="<?php echo $this->get("user_link"); ?>">プロフィール</a></li>
					</ul>
				</div>
                <div class="snsNavi SPpart">
                	<ul>
                    	<?php $publicGadget->html_mypage_navi_sp() /* .html_mypage_navi_sp */ ?>
                    </ul>
                </div>
				<div class="mypageHead SPpart">
					<h1>フレンド一覧</h1>
				</div>

				<div class="mypageArea">

					<div class="mypageMain">

						<!-- mainSide -->
						<div id="profile" class="mainSide tab_contents">
							<div class="userProfile2">
								<div class="userAvatar"><img src="<?php echo $this->get("avatar"); ?>" alt="<?php echo $this->get("nickname") ?>"></div>
								<?php if (!$this->get("is_self")) { ?>
									<?php if (!$this->get("is_match")) { ?>
										<div class="userAvatarBtn"><a href="/profile/?uid=<?php echo $this->get("system_id") ?>&mode=set&token=<?php echo SESSION::read('EXPIRES.ORIGINAL_TOKEN'); ?>">フレンド申請</a></div>
									<?php } else { ?>
										<div class="userAvatarBtn"><a href="/profile/?uid=<?php echo $this->get("system_id") ?>&mode=remove&token=<?php echo SESSION::read('EXPIRES.ORIGINAL_TOKEN'); ?>">フレンド解除</a></div>
									<?php } ?>
								<?php } ?>
							</div>

							<div class="userCommunity">
								<h5>コミュニティ</h5>
								<?php foreach ($this->get("communityArray") AS $community) { ?>

									<div class="userCommunityInfo">
										<div class="userCommunityImg"><a href="<?php echo $community['thread_link'] ?>"><img src="<?php echo $community['avatar'] ?>" alt="<?php echo $community['community_name'] ?>"></a></div>
										<div class="userCommunityName"><a href="<?php echo $community['thread_link'] ?>"><?php echo $community['community_name'] ?></a></div>
									</div>
								<?php } ?>

								<div class="userCommunityBtn1"><a href="/profile/community/?uid=<?php echo $this->get("system_id") ?>">参加コミュニティ一覧</a></div>
								<div class="userCommunityBtn2"><a href="/community/">コミュニティを探す</a></div>
							</div>


							<div class="userFriends">
								<h5>フレンド</h5>
								<?php foreach ($this->get("friendArray") AS $friends) { ?>
									<div class="userFriendsInfo">
										<div class="userFriendsImg"><a href="/profile/?uid=<?php echo $friends['system_id']; ?>"><img src="<?php echo $friends['avatar']; ?>" alt="<?php echo $friends['nickname']; ?>"></a></div>
										<div class="userFriendsName"><a href="/profile/?uid=<?php echo $friends['system_id']; ?>"><?php echo $friends['nickname']; ?></a></div>
									</div>
								<?php } ?>
								<div class="userFriendsBtn"><a href="/profile/friend/?uid=<?php echo $this->get("system_id") ?>">フレンド一覧</a></div>
							</div>
						</div><!--/mainSide-->

						<div class="mainContents">
							<h2 class="PCpart">フレンド一覧</h2>
							<?php foreach ($this->get("friendAllArray") AS $friendsList) { ?>
								<div class="postingArea">
									<div class="userAvatar"><img src="<?php echo $friendsList['avatar']; ?>" alt="<?php echo $friendsList['nickname']; ?>"></div>
									<div class="userTxt">
										<div class="userName"><a href="/profile/?uid=<?php echo $friendsList['system_id']; ?>"><?php echo $friendsList['nickname']; ?></a></div>
									</div>
									<div class="postingLike">フレンド数：<?php echo $friendsList['friend_count']; ?></div>

									<?php if ($friendsList['friend_status'] == 'confirm') { ?>
										<a href="/mypage/friend/complete.html?fid=<?php echo $friendsList['match_id']; ?>">承認する</a>
									<?php } ?>
									<?php if ($friendsList['friend_status'] == 'request') { ?>
										<p>承認待ち</p>
									<?php } ?>

								</div>
							<?php } ?>

							<div class="postingPagenavi">
								<ul class="pageNumbers">
									<?php echo $this->get("pageng_html"); ?>
								</ul>
							</div>
						</div><!--/mainContents-->
					</div>
					<div class="mypageSub">
						<?php $publicGadget->get_news(); /* 右カラムのお知らせ */ ?>
					</div><!--/mypageSub-->
				</div>
			</div><!--/Contents-->
			<?php
			/* フッターインクルード */
			include(DIR_PUBLIC . "/include/footer.php");
			?>
		</div>
		<!--/Container-->
		<script>
			$('.menu_button').click(function () {
				$(this).next('.nav').slideToggle('slow').siblings('.nav').slideUp('slow');
				$(this).siblings('.menu_button').removeClass('active');
				$(this).toggleClass('active');
			});
		</script>

		<?php
				$webroot = $_SERVER['DOCUMENT_ROOT'];
				include($webroot."/include/body_retargeting_cord.php");
				?>


	</body>
</html>
