@charset "utf-8";
/*==================================
  use
==================================*/
#top:before {
	content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background-size:cover;
	background: url(/mypage/img/mypage_bg.jpg) no-repeat top center/cover fixed;
}
.appIndex #app {
	margin-top: 0;
}
.appIndex #app:after {
	background: #FFF;
  position: absolute;
	top: 120vw;
  width: 100%;
  height: 1px;
  content: "";
}
.appIndex #app .appBox .app_img {
	width: auto;
  height: 98vw;
  margin-right: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	text-align: center;
}
.appIndex #app .appBox .app_img img {
	width: 70vw;
}
.appIndex #app .appBox .app_txt {
	float: none;
	margin-top: 8vw;
	width: auto;
}
.appIndex #app .appBox .app_txt h2 {
  font-size: 6vw;
	text-align: center;
	position: relative;
}
.appIndex #app .appBox .app_txt .app_store {
	margin-top: 4vw;
	text-align: center;
}
.appIndex #app .appBox .app_txt .app_store img {
	width: 18vw;
}
.appIndex #app .appBox .app_txt p {
	font-size: 3.5vw;
  margin: 5vw 5vw 0;
}
.appIndex #app .appBox .btnArea {
	border: solid 1px #fff;
	border-radius: 5px;
	margin: 5vw 5vw 0;
  padding: 4vw 9vw 6vw;
}
.appIndex #app .appBox .btnArea p {
	font-size: 4vw;
	font-weight: bold;
	margin: 0 0 2vw;
	text-align: center;
}
.appIndex #app .appBox .btnArea .btn:last-child {
  margin-top: 3vw;
}
.appIndex #app .appBox .btnArea .btn a {
  padding: 2vw 0;
}
.appIndex #app_navi {
	margin-top: 0;
}
.appIndex #app_navi h2 {
  font-size: 6vw;
}
.appIndex #app_navi ul {
  display: flex;
	flex-wrap: wrap;
	margin: 5vw 5vw 0;
}
.appIndex #app_navi ul li {
	text-align: center;
  position: relative;
	width: 49%;
	margin: 0 2% 10% 0;
}
.appIndex #app_navi ul li:nth-child(even) {
	margin-right: 0;
}
.appIndex #app_navi ul li a {
  color: #FFF;
	display: inline-block;
}
.appIndex #app_navi ul li a:hover {
	opacity: 0.7;
}
.appIndex #app_navi ul li .app_navi_img {
  position: relative;
}
.appIndex #app_navi ul li .app_navi_img img {
  width: 30vw;
}
.appIndex #app_navi ul li .app_navi_img p {
  font-size: 3.5vw;
	line-height: 1.2;
	margin: auto;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 6.5vw;
	left: 0;
}
.appIndex #app_navi ul li .app_navi_img p span {
  font-size: 3vw;
}
.appIndex #app_navi ul li h3 {
  font-size: 4vw;
	line-height: 1.5;
}
.appIndex #app_navi ul li h3 span {
  font-size: 3vw;
}
.appIndex #app_features {
	margin-top: 0;
	position: relative;
}
.appIndex #app_features ul li {
	border-bottom: 1px solid #FFF;
	padding-top: 50px;
}
.appIndex #app_features ul li:first-child {
	border-top: 1px solid #FFF;
}
.appIndex #app_features ul li:last-child {
	border-bottom: none;
}
.appIndex #app_features ul li > div {
	margin-bottom: 50px;
}
.appIndex #app_features ul li .app_features_tit {
	display: flex;
	justify-content: space-between;
}
.appIndex #app_features ul li .app_features_tit .app_features_titL {
	display: flex;
}
.appIndex #app_features ul li .app_features_tit .app_features_titL img {
	vertical-align: text-bottom;
	width: 15vw;
}
.appIndex #app_features ul li .app_features_tit .app_features_titL h3 {
	font-size: 5vw;
	line-height: 1.3;
	margin-left: 10px;
}
.appIndex #app_features ul li .app_features_tit .app_features_titL h3 span {
	font-size: 3vw;
}
.appIndex #app_features ul li .app_features_tit .app_features_titR p {
	background: #FFF;
	border-radius: 8vw;
	color: #000;
	font-size: 3vw;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	padding: 2vw;
	width: 25vw;
}
.appIndex #app_features ul li .app_features_tit .app_features_titL h3 span {
	font-size: 3vw;
}
.appIndex #app_features ul li p.app_features_txt {
  font-size: 3vw;
  line-height: 1.8;
	text-align: justify;
  text-justify: inter-ideograph;
}
.appIndex #app_features ul li .app_features_img {
  margin: 2vw 0;
}
.appIndex #app_features ul li#app_features08 h3 {
	font-size: 6vw;
  text-align: center;
}
.appIndex #app_features ul li#app_features08 h3 img {
	display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
	width: 13vw;
}
.appIndex #app_features ul li#app_features08 > div {
	margin-bottom: 0;
}
.appIndex #app_features ul li#app_features08 .appBox .app_txt {
	margin-top: 8vw;
}
.appIndex #app_features ul li#app_features08 .appBox .app_img {
	height: 98vw;
	margin-top: 20px;
	overflow: hidden;
	text-align: center;
}
.appIndex #app_features ul li#app_features08 .appBox .app_img img {
	width: 70vw;
}
.appIndex #app_features ul li#app_features08 .appBox .btnArea {
	border: solid 1px #fff;
  border-radius: 5px;
	margin: 5vw 5vw 0;
	padding: 4vw 9vw 6vw;
  text-align: center;
}
.appIndex #app_features ul li#app_features08 .appBox .btnArea p {
	font-size: 4vw;
  font-weight: bold;
  margin: 0 0 2vw;
  text-align: center;
}
.appIndex #app_features ul li#app_features08 .appBox .btnArea .btn:last-child {
  margin-top: 3vw;
}
.appIndex #app_features ul li#app_features08 .appBox .btnArea .btn a {
	color: #FFF;
  background: #000;
  border-radius: 8vw;
  display: inline-block;
  font-size: 3vw;
  padding: 2vw 0;
  text-align: center;
  width: 100%;
}
.appIndex #app_features:after {
	background: #FFF;
  position: absolute;
	bottom: 69vw;
  width: 100%;
  height: 1px;
  content: "";
}
@media (min-width: 768px) {
	.appIndex #app_navi ul li .app_navi_img p {
		bottom: 5.5vw;
	}
}
@media (min-width: 992px) {
  #top .bg {
    padding-top: 105px;
  }
	.appIndex #app {
		border-bottom: solid 1px #fff;
    padding-bottom: 0!important;
	}
	.appIndex #app:after {
		content: normal;
	}
	.appIndex #app .appBox{
    height: 465px;
    padding: 0;
  }
	.appIndex #app .appBox .app_img {
		margin-right: 4%;
    width: 334px;
  }
	.appIndex #app .appBox .app_img img {
    width: 100%;
  }
	.appIndex #app .appBox .app_txt {
		margin-top: 0;
		padding-top: 2%;
    width: 625px;
  }
	.appIndex #app .appBox .app_txt h2 {
		font-size: 30px;
		text-align: left;
	}
	.appIndex #app .appBox .app_txt .app_store {
		margin-top: 0;
		width: 130px;
    top: 6%;
	}
	.appIndex #app .appBox .app_txt p {
		font-size: 16px;
		margin: 40px 0 0;
	}
  .appIndex #app .appBox .btnArea {
    margin: 50px 0 0;
		padding: 20px 40px 30px;
  }
  .appIndex #app .appBox .btnArea p {
    font-size: 20px;
    margin: 0 0 20px;
  }
  .appIndex #app .appBox .btnArea .btn:last-child {
    float: right;
		margin-top: 0;
  }
	.appIndex #app .appBox .btnArea .btn a {
    padding: 6px 0;
  }
  .appIndex #app_navi {
    padding: 100px 0 80px;
  }
  .appIndex #app_navi .container {
    max-width: 1060px;
  }
  .appIndex #app_navi h2 {
    font-size: 27px;
  }
  .appIndex #app_navi ul{
    margin: 30px 0 0;
  }
  .appIndex #app_navi ul li {
    flex: 1;
		width: auto;
    margin: 0;
  }
  .appIndex #app_navi ul li .app_navi_img img {
    width: 123px;
  }
  .appIndex #app_navi ul li .app_navi_img p {
    font-size: 12px;
		bottom: 30px;
  }
  .appIndex #app_navi ul li .app_navi_img p span {
    font-size: 10px;
  }
  .appIndex #app_navi ul li h3 {
    font-size: 18px;
  }
  .appIndex #app_navi ul li h3 span {
    font-size: 10px;
  }
  .appIndex #app_features {
    padding: 100px 0 130px;
  }
  .appIndex #app_features ul {
    display: flex;
		flex-wrap: wrap;
  }
  .appIndex #app_features ul li {
		border-bottom: none;
		margin-bottom: 50px;
		padding-top: 0;
		position: relative;
    width: 50%;
  }
  .appIndex #app_features ul li:first-child {
    border-top: none;
  }
  .appIndex #app_features ul li:before {
    background: #FFF;
    position: absolute;
    top: 0;
		right: 0;
    width: 1px;
    height: 100%;
    content: "";
  }
  .appIndex #app_features ul li:nth-child(even):before {
    content: normal;
  }
  .appIndex #app_features ul li:nth-child(3),.appIndex #app_features ul li:nth-child(4),.appIndex #app_features ul li:nth-child(5),.appIndex #app_features ul li:nth-child(6),.appIndex #app_features ul li:nth-child(7),.appIndex #app_features ul li:nth-child(8) {
		margin-top: 50px;
  }
  .appIndex #app_features ul li:nth-child(7) > div:after,.appIndex #app_features ul li:nth-child(8) > div:after {
		content: normal;
  }
  .appIndex #app_features ul li > div {
		margin: 0 auto 0 0;
		padding: 0 10% 0 0;
		position: relative;
		width: 83.2%;
  }
  .appIndex #app_features ul li:nth-child(even) > div {
		margin: 0 0 0 auto;
		padding: 0 0 0 10%;
  }
  .appIndex #app_features ul li > div:after {
    background: #FFF;
    position: absolute;
    bottom: -50px;
		left: 0;
    width: 89.273%;
    height: 1px;
    content: "";
  }
  .appIndex #app_features ul li:nth-child(even) > div:after {
		right: 0;
		left: auto;
  }
  .appIndex #app_features ul li .app_features_tit .app_features_titL img {
    width: 57px;
  }
  .appIndex #app_features ul li .app_features_tit .app_features_titL h3 {
    font-size: 20px;
  }
  .appIndex #app_features ul li .app_features_tit .app_features_titL h3 span {
    font-size: 12px;
  }
  .appIndex #app_features ul li .app_features_tit .app_features_titR p {
    border-radius: 18px;
    font-size: 12px;
    padding: 6px 0;
    width: 120px;
  }
  .appIndex #app_features ul li .app_features_img {
    margin: 15px 0 0;
  }
  .appIndex #app_features ul li p.app_features_txt {
    font-size: 14px;
		height: 100px;
		margin-top: 15px;
  }
  .appIndex #app_features ul li#app_features05 p.app_features_txt,.appIndex #app_features ul li#app_features06 p.app_features_txt {
		height: 150px;
  }
  .appIndex #app_features ul li#app_features08 h3 {
    font-size: 30px;
		text-align: left;
  }
  .appIndex #app_features ul li#app_features08 h3 img {
    width: auto;
  }
  .appIndex #app_features ul li#app_features08 .appBox .app_txt {
    margin-top: 0;
  }
  .appIndex #app_features ul li#app_features08 .appBox .app_img {
    border-bottom: 1px solid #FFF;
    height: 230px;
  }
  .appIndex #app_features ul li#app_features08 .appBox .app_img img {
    width: 204px;
  }
  .appIndex #app_features ul li#app_features08 .appBox .btnArea {
		border: none;
    margin: 30px 0 0;
		padding: 0;
  }
  .appIndex #app_features ul li#app_features08 .appBox .btnArea .btn:last-child {
    margin-top: 20px;
  }
  .appIndex #app_features ul li#app_features08 .appBox .btnArea p {
    font-size: 22px;
    margin: 0 0 20px;
  }
  .appIndex #app_features ul li#app_features08 .appBox .btnArea .btn a {
		border-radius: 22px;
    font-size: 16px;
		max-width: 300px;
    padding: 6px 0;
  }
  .appIndex #app_features ul li#app_features08 .appBox .btnArea .btn a:hover {
		color: rgba(255,255,255,0.7);
  }
  .appIndex #app_features:after {
    content: normal;
  }
}