@charset "utf-8";

#top .bg{background: #a7947d;} /*背景色修正 2021.03.02*/

#top .arrow {
	/*display: none;*/
	/*position: relative;*/
  text-align: center;
  position: absolute;
  /*bottom: 30vw;*/
  left:0;
  right:0;
  z-index: 10;

}

#left_banner{
	position:fixed;
	top:15%;
	width:280px;
	height:213px;
	z-index: 8;
	/*overflow: hidden;*/
	opacity: 0;
	transition : all 500ms;
}

#left_banner_inner{
	position: absolute;
	display: block;
	top:0;
	left:0;
	width:280px;
	height:213px;
	background: #636057;
	border-radius:6px;
}
#left_banner_inner2{
	position: absolute;
	display: block;
	top:240px;
	left:0;
	width:280px;
	height:auto;
	border-radius:6px;
}
#left_banner_inner3{
	position: absolute;
	display: block;
	top:480px;
	left:0;
	width:280px;
	height:auto;
	border-radius:6px;
}

#left_banner_inner2 img,
#left_banner_inner3 img{
	border-radius:6px;
}

#left_banner_inner:hover,
#left_banner_inner2:hover,
#left_banner_inner3:hover{
	opacity: 0.5;
	transition : all 500ms;
}

#left_banner{
	left:2%;
}
#left_banner_off,
#left_banner_off2,
#left_banner_off3{
	position: absolute;
	top:-5px;
	right:-5px;
	width:30px;
	height:30px;
	/*background: rgba(110,52,146,.7);*/
	/*background: rgba(0,0,0,.3);*/
	z-index: 9;
	cursor: pointer;
	display: block;
}

#left_banner .close{
	display: none;
}

#left_banner.scrollin{
	opacity : 1;
	transform : translate(0, 0);
}


@media (max-width: 1640px) {
#left_banner{
	display: none;
}
}

@media (max-width: 640px) {
#video-background{
	display: none;
}

#left_banner{
	display:none;
	}


}

#top #technology h2,
#top #service h2,
#top #case h2,
#top #case h2 span,
#top #use h2,
#top #member h2,
#top #partner h2,
#top #knowledge h2,
#top #reading h2,
#top #review h2{
	/*color: #c4a971 !important;*/
	color: #FFF !important;
	/*text-shadow: 1px 1px 2px #fff;*/
}

#top #service .banner_txt h2,
#top #reading .banner_txt h2 {
	color: #050505 !important;
}
#top #service .banner h2,
#top #reading .banner h2 {
	color: #050505 !important;
}

.header_nav_common {
 /* background: rgba(52,31,151,0.4);*/
  background: #8570A0;
}
/*
.footer_nav {
  background: rgba(52,31,151,0.4);
  background: rgba(55,66,250,0.8);
}
*/

#top #video-background,
#top #video-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#top #video-overlay{
	display: none;
}

@media (max-width: 740px) {
#top .video-backgroundWrap{
	 position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 500px;
  width: auto;
  height: auto;
}
}


#sp_video{
	position: absolute;
	display: block;
	top:0;
	left:0;
	width: 100%;
  min-height: 100%;
}


@media (min-width: 992px) {
  #top #news {
margin-top: -28vh;

  }
}
@media (max-width: 991px) {
#top #news {
padding-top: 15vh;

  }
	}
