<?php
$publicGadget = new PublicGadget();
?>
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>ただいまのお預かり品　|　<?php echo CONF::read('PUBLIC_SITE.DEFAULT_TITLE'); ?></title>
		<meta name="format-detection" content="telephone=no">
		<?php if(preg_match("/(Android|iPhone|CareMenteh)/", $_SERVER["HTTP_USER_AGENT"])): ?><meta name="viewport" content="width=320, user-scalable=no" /><?php else: ?><meta name="viewport" content="width=1280" />
		<?php endif; ?>

		<link rel="stylesheet" href="/_assets/css/default.css?<?php echo date('YmdHis');?>">
		<link rel="stylesheet" href="/_assets/css/common.css?<?php echo date('YmdHis');?>">
		<link rel="stylesheet" href="/_assets/css/form.css?<?php echo date('YmdHis');?>">
		<link rel="stylesheet" href="/_assets/css/mypage.css?<?php echo date('YmdHis');?>">
        <link rel="stylesheet" href="/_assets/css/tooltipster.bundle.min.css">

		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

		<script src="/_assets/js/jquery.js"></script>
		<script src="/_assets/js/common.js"></script>
		<script src="/_assets/js/ga.js"></script>
		<script src="/_assets/js/jquery-1.8.2.min.js"></script>
		<script src="/_assets/js/form.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
		<script src="/_assets/js/jquery.validationEngine.js"></script>
		<script src="/_assets/js/jquery.validationEngine-ja.js"></script>
		<script src="/_assets/js/jquery.dependent.js?v=1.1"></script>
        <script src="/_assets/js/tooltipster.bundle.min.js"></script>
        
        <?php
		$webroot = $_SERVER['DOCUMENT_ROOT'];
		include($webroot."/include/headtag_cord.php");
		?>

	</head>

	<body id="pTop">
		<?php ((CONF::read('DEBUG_BAR.IS_ACTIVE')) ? (print DebugBarMaster::html_source_render($this->get_all())) : ('')); ?>
		<?php $publicGadget->get_sns_code() /* .get_sns_code */ ?>
		<div id="Container">
			<header>
				<?php
				/* ヘッダーインクルード */
				include(DIR_PUBLIC . "/include/header.php");
				?>
			</header>
			<div id="Contents">
				<div class="mainvisual__section">
					<div>MY PAGE<br><p>マイページ</p></div>
				</div>
				<div class="logoutArea">
					<div class="logoutBtn"><a href="/mypage/logout/">ログアウト</a></div>
				</div>

				<div id="pankuzu-wrapp">
					<div class="pan-border"><p class="pankuzu"><a href="/">トップ</a></p><p class="pankuzu"><a href="/mypage/">マイページ</a></p><p class="pankuzu no-arrow">ただいまのお預かり品</p></div>
				</div>

				<div class="mypageArea connect">
					<div class="mypageMain2">
						<div class="mainSide">
							<div class="userProfile">
								<div class="userTxt">
									<div class="userName"><?php echo $this->get("g_name") ?>　様</div>
									<div class="userNumber">お客様番号：<?php echo $this->get("g_suid") ?></div>
									<div class="userPoint">ハッピーポイント：<?php echo $this->get("g_point") ?>ポイント</div>
									<div class="userNumber">デポジット残高：<?php echo $this->get("g_depo") ?>円</div>
								</div>
							</div>
                            <div class="userKarte PCpart">
                                <div><a href="/mypage/history/">過去のケアメンテご利用履歴</a></div>
                                <div class="on"><a href="/mypage/ordered/">ただいまのお預かり品</a></div>
                                <div><a href="/mypage/wardrobe/">ワードローブお預かり品</a></div>
                            </div>
							<div class="connectLink PCpart">
								<ul class="localNavigation_list">
									<li><a href="/sale/">ご注文／セール情報（会員ご優待）</a></li>
									<li><a href="/mypage/registration/">登録情報の変更</a></li>
									<li><a href="/use/howtoorder/reparation/" target="_blank">事故賠償制度</a></li>
								</ul>
							</div>
                            <div class="userKarte noicon PCpart">
                                <div><a href="/carementeh_search/"><img src="/_assets/img/mypage/ico_search.png" alt="つなぐ">さがす</a></div>
                                <div><a href="/mypage/sns.html"><img src="/_assets/img/mypage/ico_review.png" alt="きづく">きづく</a></div>
                                <div><a href="/review/"><img src="/_assets/img/mypage/ico_sns.png" alt="つなぐ">つなぐ</a></div>
                            </div>
							<div class="mypageBackBtn PCpart"><a href="/mypage/">マイページトップへ</a></div>
						</div><!--/mainSide-->

						<div class="mainContents3">
							<h2 class="PCpart">ただいまのお預かり品</h2>
							<p>ケアメンテをご利用いただいたすべての履歴がご覧いただけます。</p>
							
							<div class="karteSearch accordionTxt"><img src="/_assets/img/mypage/ico_search.png" alt="検索">お預かり品別の検索</div>
							<dl class="accordionForm">
								<form method="GET" name="form01" action="/mypage/ordered/search.html" >
									<dt>アイテム</dt>
									<dd>
										<div class="selectform">
											<?php $publicGadget->html_wardrobe_select_item() ?>
										</div>
										<div class="selectform">
											<?php $publicGadget->html_wardrobe_subselect_item() ?>
										</div>
									</dd>
									<dt>ブランド</dt>
									<dd>
										<div class="selectform">
											<select name="select" id="select">
												<option value="">選択してください</option>
												<?php foreach ($this->get("brand_array") AS $brand_val) { ?>
													<?php $selected = ($brand_val == REQUEST::get_data('select')) ? 'selected="selected"' : ''; ?> 
													<option value="<?php echo $brand_val ?>" <?php echo $selected ?>><?php echo $brand_val ?></option>
												<?php } ?>
											</select>
										</div>
									</dd>
									<dt>色・柄</dt>
									<dd>
										<div class="selectform">
											<?php $publicGadget->html_wardrobe_select_color() ?>
										</div>
										<div class="selectform">
											<?php $publicGadget->html_wardrobe_subselect_color() ?>
										</div>
									</dd>
									<dt>カウンセリング日</dt>
									<dd>
										<div class="dateselect">
											<select name="year" onchange="dateCheckXc('year', 'month', 'day')">
												<option value="">年</option>
												<?php for ($i = CONF::read('INPUTVALI.HISTORY_Y_START'); $i <= date("Y"); $i++) { ?>
													<?php $selected = ($i == $this->get("year") ? 'selected="selected"' : ''); ?>
													<option value="<?php echo $i ?>" <?php echo $selected ?>><?php echo $i ?>年</option>
												<?php } ?>
											</select>
										</div>
										<div class="dateselect">
											<select name="month" onchange="dateCheckXc('year', 'month', 'day')">
												<option value="">月</option>
												<?php for ($i = 1; $i <= 12; $i++) { ?>
													<?php $selected = ($i == $this->get("month") ? 'selected="selected"' : ''); ?>
													<option value="<?php echo $i ?>" <?php echo $selected ?>><?php echo $i ?>月</option>
												<?php } ?>			
											</select>
										</div>
										<div class="dateselect">
											<select name="day">
												<option value="">日</option>
												<?php for ($i = 1; $i <= 31; $i++) { ?>
													<?php $selected = ($i == $this->get("day") ? 'selected="selected"' : ''); ?>
													<option value="<?php echo $i ?>" <?php echo $selected ?>><?php echo $i ?>日</option>
												<?php } ?>
											</select>
										</div>
										<div class="dateselectTxt">〜</div>
										<div class="dateselect">
											<select name="year_b" onchange="dateCheckXc('year_b', 'month_b', 'day_b')">
												<option value="">年</option>
												<?php for ($i = CONF::read('INPUTVALI.HISTORY_Y_START'); $i <= date("Y"); $i++) { ?>
													<?php $selected = ($i == $this->get("year_b") ? 'selected="selected"' : ''); ?>
													<option value="<?php echo $i ?>" <?php echo $selected ?>><?php echo $i ?>年</option>
												<?php } ?>
											</select>
										</div>
										<div class="dateselect">
											<select name="month_b" onchange="dateCheckXc('year_b', 'month_b', 'day_b')">
												<option value="">月</option>
												<?php for ($i = 1; $i <= 12; $i++) { ?>
													<?php $selected = ($i == $this->get("month_b") ? 'selected="selected"' : ''); ?>
													<option value="<?php echo $i ?>" <?php echo $selected ?>><?php echo $i ?>月</option>
												<?php } ?>			
											</select>
										</div>
										<div class="dateselect">
											<select name="day_b">
												<option value="">日</option>
												<?php for ($i = 1; $i <= 31; $i++) { ?>
													<?php $selected = ($i == $this->get("day_b") ? 'selected="selected"' : ''); ?>
													<option value="<?php echo $i ?>" <?php echo $selected ?>><?php echo $i ?>日</option>
												<?php } ?>
											</select>
										</div>
									</dd>
									<dt class="btnarea"><input type="button" id="btn" class="btn" value="検索開始" onclick="document.form01.submit()"></dt>
								</form>
							</dl>

							<div id="mypagetab" class="historyArea">
								<ul class="tab_menu">
									<li><a href="/mypage/ordered/">ご利用履歴一覧</a></li><li class="active"><a href="/mypage/ordered/items.html">ご利用アイテム一覧</a></li>
								</ul>

								<div id="tab2" class="karteWrap tab_contents active">
									<p>画像をクリックするとカウンセリングカルテ詳細がご覧いただけます。</p>
									<ul class="karteItem">

										<?php foreach ($this->get("itemAllArray") AS $item) { ?>
											<li class="first"><div class="itemNo"><?php echo $item['item_id']; ?></div><div class="itemImg"><a href="<?php echo $item['item_link']; ?>"><img src="<?php echo $item['thumb_url']; ?>" alt="<?php echo $item['item_id']; ?>"></a></div><div class="itemName"><?php echo $item['brand_name']; ?></div><div class="itemType"><?php echo $item['item_name']; ?></div><div class="itemDate">お届け日：<?php echo $item['date']; ?></div><div class="itemStatus"><span><?php echo $item['status_text']; ?></span></div></li>
										<?php } ?>

									</ul>
								</div>
							</div>
							<div class="postingPagenavi">
								<ul class="pageNumbers">
									<?php echo $this->get("pageng_html"); ?>							
								</ul>
							</div>
                            <div class="mainSide SPpart">
                                <div class="userKarte">
                                    <div><a href="/mypage/history/">過去のケアメンテご利用履歴</a></div>
                                    <div class="on"><a href="/mypage/ordered/">ただいまのお預かり品</a></div>
                                    <div><a href="/mypage/wardrobe/">ワードローブお預かり品</a></div>
                                </div>
                            </div>
		                    <div class="mypageBackBtn SPpart"><a href="/mypage/">マイページトップへ</a></div>
							
						</div><!--/mainContents3-->
					</div>
				</div>
			</div><!--/Contents-->
			<?php
			/* フッターインクルード */
			include(DIR_PUBLIC . "/include/footer.php");
			?>
		</div>
		<!--/Container-->
		<script src="/_assets/js/xc.js"></script>
		<script>
			$('.menu_button').click(function () {
				$(this).next('.nav').slideToggle('slow').siblings('.nav').slideUp('slow');
				$(this).siblings('.menu_button').removeClass('active');
				$(this).toggleClass('active');
			});
			$(function () {
				dateCheckXc('taking_y', 'taking_m', 'taking_d');
				dateCheckXc('birth_y', 'birth_m', 'birth_d');
				$('#item2').dependent({
					parent: 'item', //親のid名
					group: 'selectable3',
					defaultText: 'さらに絞り込む'
				});
				$('#color2').dependent({
					parent: 'color', //親のid名
					group: 'selectable2',
					defaultText: 'さらに絞り込む'
				});
			});
		</script>
		
		<?php
		$webroot = $_SERVER['DOCUMENT_ROOT'];
		include($webroot."/include/body_retargeting_cord.php");
		?>
		
		
	</body>
</html>
