<?php
$publicGadget = new PublicGadget();
?>
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>新規会員登録　|　<?php echo CONF::read('PUBLIC_SITE.DEFAULT_TITLE'); ?></title>
		<meta name="description" content="株式会社ハッピーの新規会員登録ページです">
		<meta name="keywords" content="クリーニング,シミ,しみ,着物,宅配,ウェットクリーニング,水洗い,高級,黄ばみ">
		<meta name="format-detection" content="telephone=no">
		<?php if(preg_match("/(Android|iPhone|CareMenteh)/", $_SERVER["HTTP_USER_AGENT"])): ?><meta name="viewport" content="width=320, user-scalable=no" /><?php else: ?><meta name="viewport" content="width=1280" />
		<?php endif; ?>

		<!-- Open Graph Protocol -->
		<meta property="og:url" content="https://www.kyoto-happy.co.jp/entry/">
		<meta property="og:title" content="新規会員登録　|　<?php echo CONF::read('PUBLIC_SITE.DEFAULT_TITLE'); ?>">
		<meta property="og:description" content="株式会社ハッピーの新規会員登録ページです">
		<meta property="og:image" content="https://www.kyoto-happy.co.jp/_assets/img/header/logo.png">
		<!-- Open Graph Protocol -->

		<link rel="stylesheet" href="/_assets/css/default.css?<?php echo date('YmdHis');?>">
		<link rel="stylesheet" href="/_assets/css/common.css?<?php echo date('YmdHis');?>">
		<link rel="stylesheet" href="/_assets/css/form.css?<?php echo date('YmdHis');?>">
        <link rel="stylesheet" href="/_assets/css/tooltipster.bundle.min.css">

		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

		<script src="/_assets/js/jquery.js"></script>
		<script src="/_assets/js/jquery.bxslider.min.js"></script>
		<script src="/_assets/js/common.js"></script>
		<script src="/_assets/js/form.js"></script>
		<script src="/_assets/js/ga.js"></script>
		<script src="/_assets/js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
		<script src="/_assets/js/jquery.validationEngine.js"></script>
		<script src="/_assets/js/jquery.validationEngine-ja.js"></script>
        <script src="/_assets/js/tooltipster.bundle.min.js"></script>
		<script src="/_assets/js/xc.js"></script>

	</head>

	<body id="pTop">
		<?php ((CONF::read('DEBUG_BAR.IS_ACTIVE')) ? (print DebugBarMaster::html_source_render($this->get_all())) : ('')); ?>
		<?php $publicGadget->get_sns_code() /* .get_sns_code */ ?>
		<div id="Container">
			<header>
				<?php
				/* ヘッダーインクルード */
				include(DIR_PUBLIC . "/include/header.php");
				?>
			</header>
			<div id="Contents">
				<div class="mainvisual__section">
					<div>MEMBERS<br><p>新規会員登録</p></div>
				</div>

				<div id="pankuzu-wrapp">
					<div class="pan-border"><p class="pankuzu"><a href="/">トップ</a></p><p class="pankuzu no-arrow">新規会員登録</p></div>
				</div>
				<div class="content">
					<div class="pagettl"><h1>新規会員登録</h1></div>
					<div class="LColumn">
						<h2>会員登録 ４つの便利機能</h2>
						<p class="contactCheck">１．「お引取りのお申込み」で、住所や名前を入れなくても簡単『ワンクリック！』でお申込み。<br>
							２．現在のハッピーポイント、デポジット残高を確認することができます。<br>
							３．「ハッピーワードローブ&reg;」、「ｅ電子カルテ&reg;」も毎回パスワードを入れる必要がありません。<br>
							４．ログアウトするまでは、パソコンの電源を切っても、あなた専用のＨＰのままです。</p>
						<hr>
						<p class="contactCheck">下記の登録内容をご確認いただきましてパスワード入力欄にご希望のパスワードを入力して「確認」ボタンを押してください。約１０分後に「ＩＤ・パスワード登録完了通知」メールをお送りします。<br>
							<br>
							「ＩＤ・パスワード登録完了通知」が届かない場合は、正常に申し込みが完了していないと考えられますので、もう一度申し込み操作をやり直してください。<br><br>
							● <span>*</span> の項目は必ずご入力ください。<br>
                    		● 環境依存文字及び「'」シングルクォーテーションは使用しないでください。<br>
                    		● 郵便番号はハイフン「-」を入れて入力してください。
						</p>
						<?php $publicGadget->html_error_array($this->get('error_array')); ?>

						<form id="form_1" name="form01" method="POST" action="/entry/confirm.html"  enctype="multipart/form-data">
							<dl class="contactform">
								<dt>お名前 <span>*</span></dt>
								<dd><input type="text" name="name1" value="<?php echo $this->get("name1") ?>" aria-required="true" autocomplete="name" class="validate[required] name_sei" placeholder="姓"><input type="text" name="name2" value="<?php echo $this->get("name2") ?>" aria-required="true" autocomplete="name" class="validate[required] name_mei" placeholder="名"></dd>
								<dt>フリガナ<span>*</span></dt>
								<dd><input type="text" name="kana1" value="<?php echo $this->get("kana1") ?>" aria-required="true" autocomplete="name" class="validate[required] name_sei" placeholder="セイ"><input type="text" name="kana2" value="<?php echo $this->get("kana2") ?>" aria-required="true" autocomplete="name" class="validate[required] name_mei" placeholder="メイ"></dd>
								<dt>電話番号 <span>*</span></dt>
								<dd class="contactnum"><input type="tel" name="telephone" value="<?php echo $this->get("telephone") ?>"><p>ー</p><input type="tel" name="telephone2" value="<?php echo $this->get("telephone2") ?>"><p>ー</p><input type="tel" name="telephone3" value="<?php echo $this->get("telephone3") ?>"></dd>
								<dt>メールアドレス <span>*</span></dt>
								<dd><input type="email" name="email" value="<?php echo $this->get("email") ?>" aria-required="true" autocomplete="email" class="validate[required,custom[email]]"></dd>
								<dt>メールサブアドレス</dt>
								<dd><input type="email" name="email2" value="<?php echo $this->get("email2") ?>" aria-required="false" autocomplete="email" class="validate[custom[email]]"></dd>
								<dt>住所</dt>
								<dd class="addressform"><p>〒</p><input id="zip" name="zip" value="<?php echo $this->get("zip") ?>" class="postal"><input type="button" id="zipbtn" name="zipbtn" class="zipbtn" value="郵便番号から住所検索"></dd>
								<dd class="addressform">
									<div class="addressselect">
										<select id="pref" name="state" autocomplete="address-level1">
											<OPTION VALUE="">---</OPTION>
											<?php foreach (CONF::read('PREFECTURE') AS $key => $val) { ?>
												<?php $selected = ($key == $this->get("state") ? 'selected="selected"' : '') ?>
												<OPTION VALUE="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></OPTION>
											<?php } ?>

										</select>
									</div>
									<input type="text" id="address" name="addr1" class="addressform2" value="<?php echo $this->get("addr1") ?>" placeholder="市区郡">
								</dd>
								<dd class="addressform"><input type="text" id="address2" name="addr2" value="<?php echo $this->get("addr2") ?>" placeholder="町村・番地"></dd>
								<dd><input type="text" name="addr3" value="<?php echo $this->get("addr3") ?>" placeholder="ビル・マンション名"></dd>
								<dt>性別 <span>*</span></dt>
								<dd><div class="dateselect">
										<select name="sex" class="validate[required]">
											<OPTION VALUE="">-</OPTION>
											<?php foreach (CONF::read('GENDER') AS $key => $val) { ?>
												<?php $selected = ($key == $this->get("sex") ? 'selected="selected"' : '') ?>
												<option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
											<?php } ?>
										</select></div></dd>
								<dt>生年月日 <span>*</span></dt>
								<dd><div class="dateselect"><select name="birth_y" onchange="dateCheckXc('birth_y', 'birth_m', 'birth_d')">
											<option value="">年</option>
											<?php for ($i = date("Y") - CONF::read('INPUTVALI.BIRTH_Y_BOTTOM'); $i >= date("Y") - CONF::read('INPUTVALI.BIRTH_Y_BOTTOM') - CONF::read('INPUTVALI.BIRTH_Y_RANGE'); $i--) { ?>
												<?php $selected = ($i == $this->get("birth_y") ? 'selected="selected"' : ''); ?>
												<option value="<?php echo $i ?>" <?php echo $selected ?>><?php echo $i ?>年</option>
											<?php } ?>
										</select></div>
									<div class="dateselect"><select name="birth_m" onchange="dateCheckXc('birth_y', 'birth_m', 'birth_d')">
											<option value="">月</option>
											<?php for ($i = 1; $i <= 12; $i++) { ?>
												<?php $selected = ($i == $this->get("birth_m") ? 'selected="selected"' : ''); ?>
												<option value="<?php echo $i ?>" <?php echo $selected ?>><?php echo $i ?>月</option>
											<?php } ?>						
										</select></div>
									<div class="dateselect"><select name="birth_d">
											<option value="">日</option>
											<?php for ($i = 1; $i <= 31; $i++) { ?>
												<?php $selected = ($i == $this->get("birth_d") ? 'selected="selected"' : ''); ?>
												<option value="<?php echo $i ?>" <?php echo $selected ?>><?php echo $i ?>日</option>
											<?php } ?>												</select></div>
								</dd>
								<dt>職種</dt>
								<dd><div class="dateselect">
										<select name="wkbn" class="">
											<OPTION VALUE="">---</OPTION>
											<?php foreach (CONF::read('JOBS') AS $key => $val) { ?>
												<?php $selected = ($key == $this->get("wkbn") ? 'selected="selected"' : ''); ?>
												<option value="<?php echo $key ?>" <?php echo $selected ?>><?php echo $val ?></option>
											<?php } ?>
										</select></div>
								</dd>
								<dt>パスワード <span>*</span></dt>
								<dd><input type="text" name="pass" value="" aria-required="true" autocomplete="name" class="validate[required],custom[onlyLetterNumber],minSize[5],maxSize[8]" placeholder="半角英数字 5桁～8桁"></dd>
								<dt class="btnarea"><input type="button" id="btn" class="btn" value="確　認" onclick="if(validate(document.form01))document.form01.submit()"></dt>
							</dl>
						</form>
					</div>
					<div class="RColumn">
						<?php $publicGadget->html_verisign_mark() /* SSLバッジ */ ?>
					</div>
				</div><!--/content-->
			</div><!--/Contents-->
			<?php
			/* フッターインクルード */
			include(DIR_PUBLIC . "/include/footer.php");
			?>

		</div>
		<!--/Container-->
		<script src="/_assets/js/xc.js"></script>
		<script>
			/*郵便番号から住所自動入力*/
			$(function () {

				dateCheckXc('birth_y', 'birth_m', 'birth_d');

				$('#zip').jpostal({
					click: '#zipbtn',
					postcode: [
						'#zip'
					],
					address: {
						'#pref': '%3',
						'#address': '%4',
						'#address2': '%5'
					}
				});
			});
		</script>
	</body>
</html>
